provenance=true
tag-version-prefix=""
strict-peer-dependencies=false
auto-install-peers=true
lockfile=true
enable-pre-post-scripts=true
shamefully-hoist=true

prefer-workspace-packages=true
link-workspace-packages=true
save-workspace-protocol=false