localhost:3001 {
	handle /image/* {
    uri strip_prefix /image
		file_server {
			root /home/roger/Projects/recipe-engine/editor/content/transformed-images
		}
	}
	handle {
		file_server * {
			root ./out
		}
	}
}
