@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-3xl my-4;
  }
  h2 {
    @apply text-2xl my-3;
  }
  h3 {
    @apply text-xl my-2;
  }
  h4 {
    @apply text-lg my-1;
  }
  ul {
    @apply list-disc pl-5 my-2;
  }

  a {
    @apply underline visited:text-purple-200;
    hover: text-cyan-200;
  }
}

html,
body {
  @apply text-slate-100;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
}

svg {
  width: 100%;
  height: 100%;
}
